*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .3s;
}
.Page{
    display: flex;
    width: 100%;
    height: 100vh;
}
.main{
    width: 100%;
    background-image: url(./components/assets/Frame.png);
    background-repeat: no-repeat;
    background-size: cover;
}